#item-overview{
  background-color: #fff;
  bottom:94px;
  top:88px;
}

.red-star, .grey-star{
	width: 12px;
	height: 12px;
	
	text-align: center;
	border-radius: 3px;
	margin: 1px;
	line-height: 7px;
	float: right;
}

.rank-star{
	color: white;
	font-size: 10px;
}

.red-star{
	background-color: #ef473a;

}

.grey-star{
	background-color: #ddd;

}

.percentage{
	width: 66%;
	background-color: #ef473a;
	height: 13px;
	
	
	vertical-align: top;
	float: left;
}

.percentage-num{
	float: left;
	font-size: 13px;
	line-height: 13px;
}