<div>
<div class="list-frame" id="history-item-list">
	<ion-header-bar class="bar-positive">
        <h1 class="title">搜索的黑历史</h1>
        <button class="button button-clear pull-right" ng-click="closeItemList()">关闭</button>
    </ion-header-bar>
    <ion-scroll class="card-list" direction="y">
        <div ng-repeat="history in historyList">
            <div class="card">
              	<div class="item item-text-wrap">
                		{{history.name}}
              	</div>
            </div>
        </div>
    </ion-scroll>
</div>
</div>
