<div>
<div class="list-frame" id="history-item-list">
	<ion-header-bar class="bar-positive">
        <h1 class="title">搜索的黑历史</h1>
            
    </ion-header-bar>
    <ion-scroll class="card-list" direction="y">
        <div>
            <div class="card">
              	<div class="item item-text-wrap">
                		我是景点1
              	</div>
            </div>
            <div class="card">
              	<div class="item item-text-wrap">
                		我是景点2
              		</div>
            	</div>
            <div class="card">
              	<div class="item item-text-wrap">
                	我是景点3
              	</div>
            </div>
            <div class="card">
              	<div class="item item-text-wrap">
                	我是名字超他妈长的景点4你说我是不是特别屌啊哈哈哈哈
              	</div>
            </div>
        </div>
    </ion-scroll>
</div>
</div>