<div>
<div id="items-list-slide">
    <ion-slide-box active-slide="myActiveSlide" animation="slide-left-right-ios7" >
      <ion-slide>
        <div class="box">
          <ion-header-bar class="bar-positive">
            <h1 class="title">景点类别1</h1>
            
          </ion-header-bar>
          <ion-scroll class="card-list" direction="y">
          <div>
            <div class="card">
              <div class="item item-text-wrap">
                我是景点1
              </div>
            </div>
            <div class="card">
              <div class="item item-text-wrap">
                我是景点2
              </div>
            </div>
            <div class="card">
              <div class="item item-text-wrap">
                我是景点3
              </div>
            </div>
            <div class="card">
              <div class="item item-text-wrap">
                我是名字超他妈长的景点4你说我是不是特别屌啊哈哈哈哈
              </div>
            </div>
          </div>
          </ion-scroll>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <ion-header-bar class="bar-positive">
            <h1 class="title">景点类别2</h1>
          </ion-header-bar>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <ion-header-bar class="bar-positive">
            <h1 class="title">景点类别3</h1>
          </ion-header-bar>
        </div>
      </ion-slide>
    </ion-slide-box>
  </div>
  <div class="button-bar bar-positive slide-bar">
    <a class="button">评分</a>
    <a class="button">收藏</a>
    <a class="button">足迹</a>
    <a class="button">心愿</a>
    <a class="button">推荐</a>
  </div>
</div>

