<div>
<div class="list-frame" id="item-list">
    <ion-slide-box active-slide="myActiveSlide" animation="slide-left-right-ios7" >
      <ion-slide ng-repeat="type in typeList">
        <div class="box">
          <ion-header-bar class="bar-positive">
            <h1 class="title">{{type.name}}</h1>
            <button class="button button-clear pull-right" ng-click="closeItemList()">关闭</button>
          </ion-header-bar>
          <ion-scroll class="card-list" direction="y">
          <div>
            <div class="card" ng-repeat="item in itemList[type.index]">
              <div class="item item-text-wrap" ng-click="showItem(item)">
                {{item.text}}
              </div>
            </div>
            
          </div>
          </ion-scroll>
        </div>
      </ion-slide>
      
    </ion-slide-box>
  </div>
  <div class="button-bar bar-positive slide-bar">
    <a class="button">评分</a>
    <a class="button">收藏</a>
    <a class="button">足迹</a>
    <a class="button">心愿</a>
    <a class="button">推荐</a>
  </div>
</div>

