<div>
<div class="list-frame" id="nearby-item-list">
	<ion-header-bar class="bar-positive">
        <h1 class="title">附近</h1>
        <button class="button button-clear pull-right" ng-click="closeItemList()">关闭</button>
    </ion-header-bar>
    <ion-scroll class="card-list" direction="y">
        <div>
            <div class="card">
              	<div class="item item-text-wrap">
                		我是景点1【搞不懂中，但是随便加点字，说明这边代码肯定还有问题】
              	</div>
            </div>
            <div class="card">
              	<div class="item item-text-wrap">
                		我是景点2【搞不懂中，但是随便加点字，说明这边代码肯定还有问题】
              		</div>
            	</div>
            <div class="card">
              	<div class="item item-text-wrap">
                	我是景点3【搞不懂中，但是随便加点字，说明这边代码肯定还有问题】
              	</div>
            </div>
            <div class="card">
              	<div class="item item-text-wrap">
                	我是名字超他妈长的景点4你说我是不是特别屌啊哈哈哈哈【搞不懂中，但是随便加点字，说明这边代码肯定还有问题】
              	</div>
            </div>
        </div>
    </ion-scroll>
</div>
</div>