<div>
<div class="list-frame" id="nearby-item-list">
	<ion-header-bar class="bar-positive">
        <h1 class="title">附近</h1>
        <button class="button button-clear pull-right" ng-click="closeItemList()">关闭</button>
    </ion-header-bar>
    <ion-scroll class="card-list" direction="y">
        <div>
            <div class="card" ng-repeat="item in orderedNearbyList">
              	<div class="item item-text-wrap" ng-click="showItem(item)">
                		{{item.text}}
              	</div>
            </div>
        </div>
    </ion-scroll>
</div>
</div>