<ion-view id="mainView">
  <ion-header-bar class="bar-positive">
    <button class="button button-icon icon ion-navicon" ng-click="leftSide()"></button>
    <h1 class="title">城市景观大众点评</h1>
  </ion-header-bar>
  <div class="bar bar-positive item-input-inset search-frame">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="搜索">
    </label>
  </div>
  <ion-side-menu-content>
    <div id="baidu-map-api"></div>
  </ion-side-menu-content>
</ion-view>
